body {
  background-color: lightblue;
}
#nav-table {
  width:1024px;
}
#me {
  height:300px;
  float:right;
}
#me2 {
  width:300px;
  float: left;
}
#hockey {
  width: 300px;
  float:left;
}
#beach {
  width:300px;
  float: right;
}
