body {
  background-color: lightblue;
}
#nav-table {
  width:1024px;
}
#me {
  width:300px;
  float:right;
}
#me2 {
  width:300px;
  float: left;
}
#hockey {
  width: 100px;
  float:left;
}
#beach {
  width:100px;
  float: right;
}
